@import url('https://fonts.googleapis.com/css?family=Audiowide|UnifrakturMaguntia|Vast+Shadow');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; 
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

input[type="text"], [type="password"]{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 40%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 1.5%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
    margin: 10px;
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav li {
  margin: 30px auto;
  font-size:2vw;
}

header {
  height: 24vh;
  width: 100vw;
  padding: 1%;
  background-color: #C40707;
  color: white;
  font-family: Impact, Charcoal, sans-serif;
  
}

.logo {
  font-size: 3vw;
}
ul{
  display: flex;
  /*flex-wrap: wrap;*/
  width: 100vw;
}

.selectSourcesList{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
}

li{
  width: 29%;
  list-style: none;
  padding: 2%;
}


.source_icon{
  height: 80px;
}

.source_icon_container{
  border-style: dotted dashed solid double;
}
.defualtTag{
  font-size: 50px;
  background: yellow; 
}

.userHome_source{
  font-size: 50px;
  background: blue;  
}
.userArticle{
  font-size: 50px;
  background: orange;  
}

.message{
  font-size: 50px;
  background: lightgreen;
}